<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/public/main.css">

    <title>Hello, world!</title>
  </head>
  <body>

    <%- include('nav.html') %>

    <!-- db에 저장되어있는것 제목, 날짜로 써야됨 -->
    <h4 class="ml-2 my-3 text-center">검색 페이지</h4> 
    
    <div class="container input-group mb-2">
      <input class="form-control" id="search-input">
      <button class="input-group-append btn btn-danger" id="search">검색</button>
    </div>
  
    
    <!-- ml-2 my-3 boostrap 문법 -->
    <div class="container">
      <ul class="list-group">
        <% for (var i = 0; i < posts.length; i++) { %>
        <li class="list-group-item">
          <p>글번호 : <%= posts[i]._id %></p>
            <h4>할일 : <%= posts[i].title %></h4>
            <p>날짜 : <%= posts[i].date %></p>
            <button class="btn btn-success delete" data-id="<%= posts[i]._id %>">삭제</button>
          </li>
        <% } %>
      </ul>
    </div>
    <!-- jquery 설치 -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
      // 서버랑 통신
      // class가 delete인 것을 삭제해달라는 요청
      $('.delete').click(function(e){
        let postId = e.target.dataset.id; // 내가 버튼 누른 요소의 data-id
        let nowPushButton = $(this); // 현재 클릭 이벤트가 동작하는 곳
        $.ajax({
          method : 'DELETE',
          url : '/delete',
          data : { _id : postId },
        }).done((result) => { // ajax 성공시 나오는 함수
          console.log('성공');
          nowPushButton.parent('li').fadeOut(); // 이벤트가 동작하는 곳의 부모(상위요소)중에 <li> 태그가 있으면 사라지게 해주는 것
        }).fail((xhr, textStatus, errorThrown) => { // ajax 실패시 나오는 함수
          console.log(xhr, textStatus, errorThrown);
        });
      })
      $("#search").click(function(e) {
      // 현재 페이지 url 바꾸는 법. 사실상 GET 요청이랑 동일
      let inputValue = $("#search-input").val()
      window.location.replace('/search?value=' + inputValue);
      })
      var data = { name : 'value', name2 : 'value2'}
                  $.param(data)
                  $(formtag).serialize()
    </script>

    <!-- 검색 기능
    <script>
      $("#search").click(function(){
      // 현재 페이지 url 바꾸는 법. 사실상 GET 요청이랑 동일
      let inputValue = $("#search-input").val()
      window.location.replace('/search?value=' + inputValue);
    })
      var data = { name : 'value', name2 : 'value2'}
                  $.param(data)
                  $(formtag).serialize()
    </script> -->
    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>